
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* ===== BASE STYLES ===== */
/* Setting type to a minor third modular scale - 4:3
http://www.modularscale.com/?18&px&1.2&web&text */

html {
  font-size: 1.125em;  /* 18px */
  line-height: 1.222em;  /* 22px @ 18px = 1.2222 */
  color: #4c4c4c;
  background-color: #d0e7e9;
  font-family: Gotham, sans-serif;
  font-weight: 100;
  text-align: center;
}

h1 {
  font-size: 1.666em; /*30px/18px */
  line-height: 1.222em;  /* 44 @ 36px */
  letter-spacing: 0.125em;
  text-transform: uppercase;
  font-weight: 900;
  color: #e5e5e5;
}

header {
  background: url(../img/headerimage-5184-90.jpg) #49311c;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: left;
}

footer {
  padding: 0.611em 1.222em;
  color: #7f7f7f;
  font-size: 0.666em;
  margin-bottom: -12.22%;
  margin-left: -1.322em;
  margin-right: -1.322em;
}

form {
  background-color: #a2cfd3;
  position: relative;
  border-radius: 0.55555em; /*10px/18px*/
}

label {
  font-size: 1.333em; /*24px/18px*/
  display: block;
  font-weight: 500;
  color: #09363a;
}

input{
  display: inline-block;
}

input[type=search] {
  border: 0.1em solid #d0e7e9;
  border-radius: 0.55555em;
  background-color: #e7f3f4;
  text-align: center;
  -webkit-appearance: none; 
}

input[type=submit] {
  width: 5em;
  border: none;
  border-radius: 0.55555em;
  background-color: #e7f3f4;
  text-align: center;
  -webkit-appearance: none; 
  -moz-box-shadow:    0.05555em 0.05555em 0.05555em 0.05555em #6e6e6e;
  -webkit-box-shadow: 0.05555em 0.05555em 0.05555em 0.05555em #6e6e6e;
  box-shadow:         0.05555em 0.05555em 0.05555em 0.05555em #6e6e6e;
}

input[type=submit]:hover {
  color: #e7f3f4;
  background-color:#147a83;
  box-shadow: none;
}


/* ===== LAYOUT STYLES ===== */

header {
  margin: 0 -0.916em;
  margin-top: -1.222em;
  padding-top: 3.5em;
  padding-bottom: 3.5em;
}

h1 {
  padding-bottom: 0.33325em;
  text-align: center;
}

form {
  margin-top: 1.222em;
  padding-top: 1.222em;
  padding-bottom: 1.222em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  text-align: center;
}

input[type=search] {
   padding: 0.3055em;
}

input[type=submit] {
   padding: 0.3055em;
}

#page {
  padding: 1.222em 0.916em; /* 16.5px */
}

#country-label {
 padding-bottom: 0.3055em;
}

#map {
  margin-top: 1.222em;
}

#country-details {
  padding: 1.222em 0.916em;
}

.info {
 padding-bottom: 0.3055em;
}

/* ===== MODULAR STYLES ===== */

#map {
  max-width: 100%;
	width: 100%;
	height: 50vw;
}

#description {
  color: #dfcfc5;
  text-align: center;
}

#country-label {
 font-size: 1em;
}

#country-details {
  font-size: 0.8889em;
  background-color: #a2cfd3;
}

.info-label {
  font-weight: 500;
  color: #09363a;
}

/* ===== STATE STYLES ===== */

@media screen and (min-width: 48em) {

  main {
    margin: 2.5458% 3.8166%;
  }

  h1 {
    font-size: 2.222em;
  }

  footer {
    padding-left: 3.664em;
  }
  
  label {
    font-size: 1.875em; /*30/16px*/
    padding-bottom: 0.3055em;
  }
  
  input[type=search] {
    padding: 0.611em;
    font-size: 0.8em;
  }

  input[type=submit] {
    padding: 0.611em;
    font-size: 0.8em;
  }
  
  #country-label {
    font-size: 1.5em;
  }
  
  #description {
    font-size: 1.1875em;/*19px/16px*/
  }
  
  .info-label, .info {
    font-size: 1.25em; /*20px/16px*/
  }
}

@media screen and (min-width: 53.3125em) {

  main {
    margin-left: 13.13%;
    margin-right: 13.13%;

  }
  
  h1 {
    font-size: 3em;
  }

  footer {
    text-align: center;
  }
  
  form {
    padding-top: 2.444em;
    padding-bottom: 2.444em;
  }
  
  label {
    font-size: 2.125em; /*34/16px*/
  }
  
  header{
    margin-bottom: 2.444em;
  }
  
  input[type=search] {
    padding: 0.611em;
    font-size: 1em;
  }

  input[type=submit] {
    padding: 0.611em;
    font-size: 1em;
  }
  
  #country-label {
    font-size: 1.5em;
    padding-bottom: 0.3055em;
  }
  
  #description {
    font-size: 1.375em; /*22px/16px*/
  }
  
  .info-label, .info {
    font-size: 1.375em; /*22px/16px*/
  }
}

@media screen and (min-width: 64em) {
  main {
    margin: 1.909% 21.875%;
  }

  h1 {
    font-size: 3.25em; /*52px/16px */
  }
  
  footer {
    text-align: center;
  }
  
  form {
    padding-top: 3.36em;
    padding-bottom: 3.36em;
  }
  
  label {
    font-size: 2.5em; /*40/16px*/
    padding-bottom: 0.611em;
  }
  
  header{
    margin-bottom: 3.356em;
  }
  
  input[type=search] {
    padding: 0.611em;
    font-size: 1.2em;
  }

  input[type=submit] {
    padding: 0.611em;
    font-size: 1.2em;
  }
  
  #country-label {
    font-size: 1.8em;
    padding-bottom: 0.611em;
  }
  
  #description {
    font-size: 1.5em; /*24px/16px*/
  }
  
  .info-label {
    padding-bottom: 0.15275em;
  }
  
  .info {
    padding-bottom: 0.4em;
  }
  .info-label, .info {
    font-size: 1.5em; /*24px/16px*/
  }

  
}
